<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{HH:mm:ss}] [%level] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log-%d{MM-dd-yyyy}.log</fileNamePattern>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
            <pattern>[%d{HH:mm:ss}] [%level] %logger{36} - %msg%n</pattern>
        </encoder>

        <append>true</append>
    </appender>

    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
